h1 {
text-align: center;

}

img{
    width:150px;
    display: block;
    margin: 10px auto;  
    transform: rotate(90deg);
}

p{
    width: 375px auto;
    margin: 25px auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
article {
    text-align: center;
}

footer{
    color: white;
    background-color: #333;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 25px
}